<?xml version="1.0"?>
<configuration>
    <configSections>
        <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
        <section name="dataCacheClient"
              type="Microsoft.ApplicationServer.Caching.DataCacheClientSection, Microsoft.ApplicationServer.Caching.Core, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
              allowLocation="true"
              allowDefinition="Everywhere"/>
    </configSections>
    <system.diagnostics>
        <sources>
            <source name="System.ServiceModel" switchValue="Warning, ActivityTracing"
                propagateActivity="true">
                <listeners>
                    <add type="System.Diagnostics.DefaultTraceListener" name="Default">
                        <filter type="" />
                    </add>
                    <add name="ServiceModelTraceListener">
                        <filter type="" />
                    </add>
                </listeners>
            </source>
            <source name="System.ServiceModel.MessageLogging" switchValue="Warning, ActivityTracing">
                <listeners>
                    <add type="System.Diagnostics.DefaultTraceListener" name="Default">
                        <filter type="" />
                    </add>
                    <add name="ServiceModelMessageLoggingListener">
                        <filter type="" />
                    </add>
                </listeners>
            </source>
        </sources>
        <sharedListeners>
            <add initializeData="C:\Development\Goodstub\Goodstub.Service\Web_tracelog.svclog"
                type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                name="ServiceModelTraceListener" traceOutputOptions="Timestamp">
                <filter type="" />
            </add>
            <add initializeData="C:\Development\Goodstub\Goodstub.Service\Web_messages.svclog"
                type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                name="ServiceModelMessageLoggingListener" traceOutputOptions="Timestamp">
                <filter type="" />
            </add>
        </sharedListeners>
    </system.diagnostics>
    <dataCacheClient>
        <hosts>
            <host
               name="localhost"
               cachePort="22233"/>
        </hosts>
    </dataCacheClient>
    <unity>
        <containers>
            <container>
                <register type="Goodstub.Data.Repository.IUserRepository, Goodstub.Data" mapTo="Goodstub.Data.Repository.UserRepository, Goodstub.Data">
                </register>
            </container>
        </containers>
    </unity>
    <system.web>
        <compilation debug="true" targetFramework="4.0">
            <assemblies>
                <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
            </assemblies>
        </compilation>
    </system.web>
    <system.serviceModel>
        <diagnostics>
            <messageLogging logEntireMessage="true" logMalformedMessages="true"
                logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true" />
        </diagnostics>
        <behaviors>
            <serviceBehaviors>
                <behavior>
                    <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
                    <serviceMetadata httpGetEnabled="true" />
                    <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
                    <serviceDebug includeExceptionDetailInFaults="true" />
                </behavior>
            </serviceBehaviors>
            <endpointBehaviors>
                <behavior name="restBehavior">
                    <webHttp/>
                </behavior>
            </endpointBehaviors>
        </behaviors>
        <services>
            <service name="UserService">
                <endpoint address="" behaviorConfiguration="restBehavior" binding="webHttpBinding"
                    name="rest" contract="Goodstub.Service.Contract.IUserService" />
                <endpoint address="mex" binding="mexHttpBinding" name="mex" contract="Goodstub.Service.Contract.IUserService" />
                <endpoint address="soap" binding="basicHttpBinding" name="soap"
                    contract="Goodstub.Service.Contract.IUserService" />
            </service>
        </services>
        <serviceHostingEnvironment multipleSiteBindingsEnabled="true" aspNetCompatibilityEnabled="false">
            <serviceActivations>
                <add service="Goodstub.Service.UserService"
                     factory="Goodstub.Common.Unity.UnityServiceHostFactory"
                     relativeAddress="~/UserService.svc" />
            </serviceActivations>
        </serviceHostingEnvironment>
    </system.serviceModel>
    <system.webServer>
        <modules runAllManagedModulesForAllRequests="true" />
    </system.webServer>
    <connectionStrings>
        <add name="Mongrala"
         connectionString="Data Source=.\sqlexpress;Initial Catalog=Goodstub;Integrated Security=SSPI;"
         providerName="System.Data.SqlClient" />
        <add name="MongralaEntities" connectionString="metadata=res://*/Goodstub.csdl|res://*/Goodstub.ssdl|res://*/Goodstub.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\sqlexpress;Initial Catalog=Mongrala;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    </connectionStrings>
</configuration>